/.coverage
/.git
/.github
/.husky
/.vscode
/build
/coverage
/node_modules
/src
/tests
/dist-temp*
.editorconfig
.eslintrc.js
.gitattributes
.markdownlint.json
.prettierignore
.prettierrc
bun.lockb
eslint.config.js
package-lock.json
prettier.config.js
SECURITY.md
tsconfig.json
vite.config.js
vite.config.standalone.js
*.ignored
*.log
*.sh
